* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#container {
  border: medium solid black;
  height: min(90vh, 90vw);
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
}

#changeGridBtn {
  width: min(90vh, 90vw);
  height: min(10vh, 10vw);
  font-weight: bold;
  font-size: 2rem;
  border: medium solid black;
}

.row {
  display: flex;
  flex: 1 100%;
}

.square {
  flex: 1 100%;
  border: thin solid black;
}
